<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>One More Ride</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Rock+Salt" rel="stylesheet">

  <!-- VENDOR SCRIPTS -->
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/app.js"></script>

</head>
<body>
  <!-- <div id="floating-panel">
  <input id="address" type="textbox" value="Sydney, NSW">
  <input id="submit" type="button" value="Geocode">
</div> -->
<div class="floatMap">
  <div id="map"></div>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkucwHjlesE88fzV0H4Dgn-S4JeIiS9XA&callback=initMap">
  </script>
</div>
  <div class="topHeader text-left pull-left col-xs-12">
    <div class="col-xs-3 topHeaderTextContainer text-left pull-left blue">
      <h1 class="headerText">One</h1>
      <h1 class="headerText">More</h1>
      <h1 class="headerText">Ride</h1>
    </div>
    <div class="col-xs-7 topHeaderBgContainer red">
      <img id="bgImage" class="img-responsive" src="images/bicycleBarSmall.png">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-offset-2">
        <br>
        <hr>
        <div class=text-center>
        <button class="btn btn-primary btn-success btn-lg collapseButton" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
          Add Your Own Ride!
        </button>
      </div>
        <div class= "collapse" id="collapseForm">
        <div class="well">
        <form class="form" id="newTripForm">
          <div class="form-group">
            <label for="title">name your ride!</label>
            <input type="text" class="form-control" name="title" placeholder="On The Kindness of Old Man Mobs" required>
          </div>
          <div class="form-group">
            <label for="location">where did you ride?</label>
            <input type="text" class="form-control" name="location" placeholder="Osaka, Japan" required>
          </div>
          <div class="form-group">
            <label for="tripTime">when did you ride?
            <input type="date" class="form-control" name="tripTime" required>
          </div>
          <div class="form-group">
            <label for="image">link to a picture of your ride! (.png, .jpg, .gif)</label>
            <input type="url" class="form-control" name="image" placeholder="https://i.imgur.com/fEB9K1f.jpg" required>
          </div>
          <div class="form-group">
            <label for="summary">write an awesome summary of your ride!</label required>
            <textarea rows="5" class="form-control" name="summary" placeholder="I was greeted by two broken spokes as I pulled my bike out of the ferry's storage area in Osaka, Japan. No explanation was given, and I probably wouldn't have been able to understand it even if they had offered one. So I sat down in the parking lot, pulled out my phone, and began watching YouTube videos of bike wizards threading magical bike spokes..."></textarea>
          </div>
          <div class="form-group">
            <label for="pullQuote">write a super short and exciting quote from your summary! (50 character limit, 1/3 of a Tweet)
            <input type="text" class="form-control" name="pullQuote" placeholder="Domo Arigato. Domo Arigato..." maxlength="50" required>
          </div>
          <br>
          <button type="submit" class="btn btn-success btn-md collapseButton">Create Your Ride!</button>
        </form>
      </div>
    </div>
    <hr>
        <div id='tripTarget'>
          <!-- handlebars template -->
          <script id="trips-template" type="text/x-handlebars-template">
            {{#each trips}}
              <h2 class="tripHeadline">{{title}}</h2>
              <h3 class="tripLocation">{{location}} - {{tripTime}}</h3>  <div id="floating-panel">
                <div class="form-group">
                <button class="address" type="textbox" value="{{location}}">
              </div>
              </div>
              <br>
              <div>
                <img class= "img-rounded img-responsive center-block" src="{{image}}">
              </div>
              <br>
              <h3 class="pullQuote">"{{pullQuote}}"</h3>
              <br>
              <p>{{breaklines summary}}</p>
              <br>
              <p class="postedOn">Posted On: {{postTime}}</p>
              <br>
              <button type="button" name="button" class="deleteBtn btn btn-primary btn-warning btn-md pull-right" data-id={{_id}}>Delete This Ride</button>
              <br>
              <hr>
            {{/each}}
          </script>
        </div>
      </div>
    </div>
</div>
</body>
</html>
