<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>One More Ride</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Bevan|Bungee+Inline|Gloria+Hallelujah|Kaushan+Script|Permanent+Marker|Rock+Salt" rel="stylesheet">
  <!-- <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet"> -->
  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/app.js"></script>

</head>
<body>
  <div class="topHeader text-left pull-left red">
    <div class="col-xs-1 col-xs-offset-1 topHeaderTextContainer text-left pull-left blue">
      <h1 class="headerText">One</h1>
      <h1 class="headerText">More</h1>
      <h1 class="headerText">Ride</h1>
    </div>
    <div class="col-xs-8">
    </div>
  </div>
  <div class="container">
    <h1 class="text-center">BICYCLE TRIPS YAAAAAAY!</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form class="form" id="newTripForm">
          <div class="form-group">
            <label for="title">Name Your Trip</label>
            <input type="text" class="form-control" name="title" placeholder="On The Kindness of Old Man Mobs">
          </div>
          <div class="form-group">
            <label for="location">Where Did You Ride?</label>
            <input type="text" class="form-control" name="location" placeholder="Osaka, Japan">
          </div>
          <div class="form-group">
            <label for="image">A Link To A Picture of Your Trip</label>
            <input type="url" class="form-control" name="image" placeholder="https://i.imgur.com/fEB9K1f.jpg">
          </div>
          <div class="form-group">
            <label for="summary">Write a Brief Summary of Your Trip</label>
            <textarea rows="5" class="form-control" name="summary" placeholder="I was greeted by two broken spokes as I pulled my bike out of the ferry's storage area in Osaka, Japan. No explanation was given, and I probably wouldn't have been able to understand it even if they had offered one. So I sat down in the parking lot, pulled out my phone, and began watching YouTube videos of bike wizards threading magical bike spokes..."></textarea>
          </div>
          <br>
          <button type="submit" class="btn btn-default">Create trip</button>
        </form>
        <div id='tripTarget'>
          <!-- handlebars template -->
          <script id="trips-template" type="text/x-handlebars-template">
            {{#each trips}}
              <h2>{{title}}</h2>
              <h3>{{location}}</h3>
              <br>
              <img class= "img-rounded img-responsive center-block" src="{{image}}">
              <br>
              <h3>{{pullQuote}}</h3>
              <br>
              <p>{{breaklines summary}}</p>
              <br>
              <p>Posted On: {{postTime}}</p>
              <br>
              <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button>
            {{/each}}
          </script>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
