<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>One More Ride</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Bevan|Bungee+Inline|Gloria+Hallelujah|Kaushan+Script|Permanent+Marker|Rock+Salt" rel="stylesheet">
  <!-- <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet"> -->
  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/app.js"></script>

</head>
<body>
  <div class="topHeader text-left pull-left col-xs-12">
    <div class="col-xs-3 topHeaderTextContainer text-left pull-left blue">
      <h1 class="headerText">One</h1>
      <h1 class="headerText">More</h1>
      <h1 class="headerText">Ride</h1>
    </div>
    <div class="col-xs-7 topHeaderBgContainer red">
      <img id="bgImage" class="img-responsive" src="images/bicycleBarSmall.png">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-offset-2">
        <br>
        <hr>
        <div class=text-center>
        <button class="btn btn-primary btn-success btn-lg collapseButton" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
          Add Your Own Ride!
        </button>
      </div>
        <div class= "collapse" id="collapseForm">
        <div class="well">
        <form class="form" id="newTripForm">
          <div class="form-group">
            <label for="title">Name Your Ride</label>
            <input type="text" class="form-control" name="title" placeholder="On The Kindness of Old Man Mobs">
          </div>
          <div class="form-group">
            <label for="location">Where Did You Ride?</label>
            <input type="text" class="form-control" name="location" placeholder="Osaka, Japan">
          </div>
          <div class="form-group">
            <label for="image">A Link To A Picture of Your Ride (.png, .jpg, .gif)</label>
            <input type="url" class="form-control" name="image" placeholder="https://i.imgur.com/fEB9K1f.jpg">
          </div>
          <!-- <div class="form-group">
            label for= -->
          <div class="form-group">
            <label for="summary">Write a Brief Summary of Your Ride</label>
            <textarea rows="5" class="form-control" name="summary" placeholder="I was greeted by two broken spokes as I pulled my bike out of the ferry's storage area in Osaka, Japan. No explanation was given, and I probably wouldn't have been able to understand it even if they had offered one. So I sat down in the parking lot, pulled out my phone, and began watching YouTube videos of bike wizards threading magical bike spokes..."></textarea>
          </div>
          <br>
          <button type="submit" class="btn btn-success btn-md collapseButton">Create Your Ride!</button>
        </form>
      </div>
    </div>
    <hr>
        <div id='tripTarget'>
          <!-- handlebars template -->
          <script id="trips-template" type="text/x-handlebars-template">
            {{#each trips}}
              <h2 class="tripHeadline">{{title}}</h2>
              <h3 class="tripLocation">{{location}}</h3>
              <br>
              <div>
                <img class= "img-rounded img-responsive center-block" src="{{image}}">
              </div>
              <br>
              <h3 class="pullQuote">{{pullQuote}}</h3>
              <br>
              <p>{{breaklines summary}}</p>
              <br>
              <p>Posted On: {{postTime}}</p>
              <br>
              <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button>
              <br>
              <hr>
            {{/each}}
          </script>
        </div>
      </div>
    </div>
</div>
</div>
  </div>
</body>
</html>
