/*.red {
  border: 3px solid red;
}

.black {
  color:black;
}

.blue {
  border: 3px solid blue;
}*/
/*#f7f909*/
/*#6fff00*/
/*#00b5fb*/
/*#ff00e4*/



/*.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e;*/

.collapse, .well {
  background-color: black;
  border-color:#ff00e4;
}

hr {
  border-color:#ff00e4;
}

.tripHeadline {
  font-family: 'rock salt', cursive;
  letter-spacing: 4px;
  line-height: 150%;
  font-size:2.5em;
}

.tripLocation {
  font-style:italic;
}
.collapseButton {
  background-color: #6fff00;
  border-color: black;
  color: black;
}

.deleteBtn {
  background-color:#f7f909;
  color:black;
  border-color:black;
}

html, body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: black;
  color:white;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 100px;
  text-align: center;
}
p {
  font-size: 1.2em;
  color: white;
}

.postedOn{
  font-style:italic;
  text-align:right;
}

.pullQuote {
  font-style:italic;
  font-size:2.0em;
}

.headerText {
  margin-top:0;
  color: #ff00e4;
  margin-top: 0;
  margin-left:0;
  padding: 0;
  left:0;
  font-size:7vh;
  text-align: right;
  vertical-align: middle;
}

.topHeader {
  /*background: url("../images/bicycleBarSmall.png");
  background-position: right top;
  background-attachment: inherit;
  background-size: 100% 100%;*/
  /*background-size: contain;*/
  /*background-size: cover;*/
  margin: 0;
  padding:0;
  height:30vh;
  width:100%;
  border-bottom: 3px solid #ff00e4s;
}

#bgImage {
  height:100%;
  width: 100%;
}

.topHeaderBgContainer{
height:30vh;
}

.topHeaderTextContainer {
  display:block;
  vertical-align:middle;
  /*font-family: 'Rock Salt', cursive;*/
  font-family: 'Permanent Marker', cursive;
}



.container {
    top: 30vh;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
    display: inline-block;
    vertical-align: middle;
    color: #ff00e4;
}


/*textarea {
  data-role: none;
  resize: none;
}*/
